@model Medox.Models.KorZst

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KorZst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZstId" />
            <div class="form-group">
                <label asp-for="ZstMainId" class="control-label"></label>
                <select asp-for="ZstMainId" class="form-control" asp-items="ViewBag.ZstMainId"></select>
                <span asp-validation-for="ZstMainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZstToZstSkladId" class="control-label"></label>
                <select asp-for="ZstToZstSkladId" class="form-control" asp-items="ViewBag.ZstToZstSkladId"></select>
                <span asp-validation-for="ZstToZstSkladId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZstCzyAktywny" /> @Html.DisplayNameFor(model => model.ZstCzyAktywny)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DbDataWpisu" class="control-label"></label>
                <input asp-for="DbDataWpisu" class="form-control" />
                <span asp-validation-for="DbDataWpisu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPerId" class="control-label"></label>
                <input asp-for="DbPerId" class="form-control" />
                <span asp-validation-for="DbPerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
