@model Medox.Models.KorSkd

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KorSkd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SkdId" />
            <div class="form-group">
                <label asp-for="SkdNazwa" class="control-label"></label>
                <input asp-for="SkdNazwa" class="form-control" />
                <span asp-validation-for="SkdNazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkdOpis" class="control-label"></label>
                <input asp-for="SkdOpis" class="form-control" />
                <span asp-validation-for="SkdOpis" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkdCzyAktywny" /> @Html.DisplayNameFor(model => model.SkdCzyAktywny)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DbDataWpisu" class="control-label"></label>
                <input asp-for="DbDataWpisu" class="form-control" />
                <span asp-validation-for="DbDataWpisu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPerId" class="control-label"></label>
                <input asp-for="DbPerId" class="form-control" />
                <span asp-validation-for="DbPerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
